body{
    margin: 0px;
}

* {
    box-sizing: border-box;
}
.bg-container{
    background-image: url("https://assets-global.website-files.com/5fa61cbbf0d432b3230f62b1/60768e9861287a3f48ef129b_BackgroundImage.svg");
    background-size: cover;
    height: 100vh;
    padding: 20px;
}
.card{
    background-image: url("./images/608e762a787498764766225e_Group\ 6409.png");
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.label-heading{
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
    margin-bottom: 10px;
}
.button-container{
    margin-top: 20px;
}
.main-heading{
    font-size: 50px;
    text-align: center;
}
.text-area{
    border-radius: 8px;
}
.button{
    border: 0px;
    padding-left:20px ;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    background-color: orange;
}
.result{
    padding:10px;
    background-color: teal;
    color: white;
    text-align: center;
    border-radius: 8px;
}
.error-message{
    color: orange;
}


@media screen and (min-width: 992px){
    .bg-container{
        padding: 100px;
    }
}